* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-moz-selection {
  color: #fff;
  background: orangered;
}
::selection {
  color: #fff;
  background: orangered;
}

html {
  font-size: 62.5%; /* 10px */
  font-family: Poppins, sans-serif;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

body {
  min-height: 100vh;
}

/* Typography */
a:link,
a:visited {
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  grid-gap: 2rem;
  border-bottom: 1px solid #00000022;
}
.logo {
  margin-right: auto;
  font-size: 4rem;
  font-weight: 600;
}

/*Buttons */
.btn {
  padding: 1rem 2rem;
  color: #ffffff;
  transition: all 0.3s;
  border-radius: 10rem;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 1.6rem;
}
.btn--orange {
  background-color: #ffa500;
}
.btn--orange:hover {
  background-color: #7f5200;
}
.btn--teal {
  background-color: #008080;
}
.btn--teal:hover {
  background-color: #004040;
}
@media screen and (max-width: 390px) {
  .btn {
    padding: 5px 1rem;
  }
}

/* Main */
main {
  padding: 3rem 1rem;
}
.todo-list__form-container {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}
.todo-list__form-container textarea {
  font-family: inherit;
  padding: 2rem;
  border-radius: 3rem;
  font-size: 1.6rem;
}
.todo-list__form-container textarea:focus {
  outline: none;
}
.todo-list__form-container button {
  width: fit-content;
}
.todo-list__list {
  color: orangered;
  display: grid;
  grid-gap: 1rem;
  font-size: 1.6rem;
}
.todo-list__element {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.todo-list__element .todo-list__element__task {
  flex-grow: 1;
}
.todo-list__element__delete {
}
